{% extends 'core/basic.html' %}

{% block title %}Signup{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter Username" id="">
        <input type="email" name="email" placeholder="Enter Email" id="email">
        <input type="password" name="password" id="password" placeholder="Enter Password">

        <input type="submit" value="Sign Up">
    </form>

{% endblock %}


{% block js %}

{% endblock %}